:root {
  --background: #303030;
  --text: white;
  --accent: #a040FF;
  --accent-border: 0.2rem solid var(--accent);
  --box: #00000080;
  --code-spacing: 0.2em;
}

.root {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
}

.background-flash {
  background: var(--accent);
}

html, body, .root {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16pt;
  font-family: ubuntu, sans-serif;
  color: var(--text);
}

.h-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 12px;
}

input, button {
  all: unset;
  box-sizing: border-box;
  background: #00000080;
  border-style: none;
  font-size: 1em;
  padding: 5px;
}

input {
  flex-grow: 1;
  min-width: 2em;
  transition: box-shadow 0.05s;
}

::placeholder {
  color: white;
  opacity: 0.4;
}

input:focus {
  box-shadow: 0 0 0.3em 0 var(--accent);
}

button {
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  flex-grow: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: all 0.05s;
}

.go-btn {
  min-width: 2em;
  transform: scale(1);
}

.go-btn:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 0.5em 0.2em var(--accent);
}

.go-btn:active:after {
  box-shadow: 0 0 0 0 var(--accent);
  opacity: 1;
  transition: 0s;
}

.queue-box {
  background: var(--box);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* On touch devices, hover is emulated (poorly) and so it becomes sticky.
 * This prevents that */
@media (hover: hover) {
  .go-btn:hover {

  }
}

.control {
  border-radius: 10em;
  flex-basis: 1em;
  font-size: 1.5em;
  border-color: var(--accent);
  color: var(--accent);
  transition: all 0.1s;
  transform: scale(1);
}

.control:after {
  content: "";
  display: block;
  border-radius: 10em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 0.8em 0.3em var(--accent);
}

.control:active:after {
  box-shadow: 0 0 0 0 var(--accent);
  opacity: 1;
  transition: 0s;
}

#peer-id-div {
  margin-top: 0.8em;
  font-size: 1.5em;
}

#peer-id-input {
  text-transform: uppercase;
  font-family: courier new, monospace;
  text-align: center;
  flex-grow: 0;
  flex-basis: 0;
  min-width: 6em;
  letter-spacing: var(--code-spacing);
  /* we have to indent by the same amount as letter-spacing to make centering work,
   * because first char doesn't have spacing applied to left side. */
  text-indent: var(--code-spacing);
}

.peer-id-display {
  font-size: 0.8em;
  border-style: none;
  border-bottom: var(--accent-border);
  line-height: 0;
}

.only-when-connected {
  font-size: 0.8em;
}

#status {
  font-size: 1.5em;
}

#controls {
  margin: 0.5em;
}

.progress-hitbox {
  padding-top: 15px;
  padding-bottom: 15px;
}

.progress-container {
  background: var(--box);
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.progress-bar {
  background: var(--accent);
  height: 6px;
  width: 0%;
  transition-timing-function: all linear;
}

#content {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#popup-container {
  background: var(--box);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#popup {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  background: var(--background);
  border-radius: 1em;
}
